<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@75,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="stylesheet" href="/style/style.css">
    <!-- <link rel="stylesheet" href="../public/style/style.css"> -->
    <title>BookFlow want</title>
</head>
<body>
    <div class="app">
        <aside class="sidebar">
            <div class="logo">
                <h1><img src="/img/icon.png" alt=""><span>Book</span>Flow</h1>
            </div>
            <div class="nav-items">
                <div class="item">
                    <a href="/"><span class="material-symbols-outlined"> search </span>Search</a>
                </div>
                <div class="item">
                    <a href="/want"><span class="material-symbols-outlined"> bookmark </span>Want to Read</a>
                </div>
                <div class="item">
                    <a href="/review"><span class="material-symbols-outlined"> bookmark_star </span>Finished Reading</a>
                </div>
            </div>
        </aside>

        <main class="main">
            <div class="content">
                <h2>Want to Read</h2>
                <p>Track your reading journey, from want-to-read to finished books.</p>
            </div>
<!-- ********************************************************************************************************* -->
<!-- reviewを押した時に表示される場合 -->
            <% if (reviewBook) { %>
            <form action="/want/<%= reviewBook.id %>/review" method="POST" class="review-setting book-detail">
                <a href="/want"><span class="material-symbols-outlined"> close </span></a>
                <button type="submit" class="btn primary"><span class="material-symbols-outlined"> add_2 </span></button>
                <div class="book-flex-container">
                    <div class="book-content">
                        <h2><%= reviewBook.title %></h2>
                        <p><%= reviewBook.author %></p>
                        <div class="stars">
                            <span>
                                <input id="r5-<%= reviewBook.id %>" type="radio" name="review" value="5">
                                <label for="r5-<%= reviewBook.id %>">★</label>

                                <input id="r4-<%= reviewBook.id %>" type="radio" name="review" value="4">
                                <label for="r4-<%= reviewBook.id %>">★</label>

                                <input id="r3-<%= reviewBook.id %>" type="radio" name="review" value="3">
                                <label for="r3-<%= reviewBook.id %>">★</label>

                                <input id="r2-<%= reviewBook.id %>" type="radio" name="review" value="2">
                                <label for="r2-<%= reviewBook.id %>">★</label>

                                <input id="r1-<%= reviewBook.id %>" type="radio" name="review" value="1">
                                <label for="r1-<%= reviewBook.id %>">★</label>
                            </span>
                        </div>

                    </div>
                    <div class="cover">
                        <img src="<%= reviewBook.cover_url %>" alt="">
                    </div>
                </div>
                <div class="note">
                    <h2>Note:</h2>
                     <textarea id="autoTextarea" name="comment" rows="1" placeholder="take a note...."></textarea>
                </div>
            </form>
            <% }; %>
            
<!-- ********************************************************************************************************* -->

            <div class="want-container">
                <div class="grid-container">
                    <% wantBooks.forEach(book => { %>
                    <div class="grid-content">
                        <div class="flex-column">
                            <div class="cover">
                                <img src="<%= book.cover_url %>" alt="">
                            </div>
                            <h2><%= book.title %></h2>
                            <p><%= book.author %></p>
                        </div>
                        <div class="btns">
                            <button class="btn"><span class="material-symbols-outlined"> more_horiz </span></button>
                            <div class="menu2 hidden">
                                <!-- review -->
                                <a href="/want?review=<%= book.id %>">Review</a>
                                <!-- delete -->
                                <form action="/books/<%= book.id %>/Delete" method="POST">
                                    <input type="hidden" name="bookId" value="<%= book.id %>">
                                    <button type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% });  %>       
                </div>     
            </div>

            
        </main>
    </div>
</body>
<script>
    document.addEventListener("click", (e) => {
    const btn = e.target.closest(".btn");
    const allMenus = document.querySelectorAll(".menu2");

  
    allMenus.forEach(menu => menu.classList.add("hidden"));

  
    if (btn) {
        const menu = btn.nextElementSibling;
        menu.classList.toggle("hidden");
        }
    });



    const textarea = document.getElementById("autoTextarea");

    textarea.addEventListener("input", () => {
    textarea.style.height = "auto";                 // 一旦リセット
    textarea.style.height = textarea.scrollHeight + "px";
    });
</script>
</html>